<%- model_class = Leaveroll -%>
<div class="page-header">
  <h3><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h3>
</div>
<div class="form-actions">
<h4><%=t '.title', :default => model_class.model_name.human.titleize %></h4>
  <div class="but">
    <small style="float:right"><%= link_to t('.new', :default => t("helpers.links.new")),
            new_leaveroll_path,
            :class => 'btn btn-primary' %>
    </small>
  </div>
</div>
<br/>
<h2 id="month">
    <%= link_to "<", date: @date.prev_month %>
    <% if false%>
    <%= @date.strftime("%B %Y") %>
    <% end %>
    <%= @mon%> <%=@date.strftime("%Y")%>
    <%= link_to ">", date: @date.next_month %>
</h2>
<div id="articles">
    <%= calendarhijri @date do |date| %>
       <%= date.day %>
       <% if @leaverolls_by_date[date] %>
      <ul>
        <% @leaverolls_by_date[date].each do |leave| %>
          <li><%= link_to leave.name, leave %></li>
        <% end %>
      </ul>
     <% end %>
  <% end %>
</div>
