<%- model_class = Leaveroll -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>
<div class="progress progress-danger">
  <div class="bar" style="<%= 'width:'+ (@leaveroll.lprogress).to_s + '%' %>"></div>
</div>
<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:empno) %>:</strong></dt>
  <dd><%= @leaveroll.empno %></dd>
  <dt><strong><%= model_class.human_attribute_name(:ltype) %>:</strong></dt>
  <dd><%= @leaveroll.ltype %></dd>
  <dt><strong><%= model_class.human_attribute_name(:lfrom) %>:</strong></dt>
  <dd><%= @leaveroll.lfrom %></dd>
  <dt><strong><%= model_class.human_attribute_name(:lto) %>:</strong></dt>
  <dd><%= @leaveroll.lto %></dd>
  <dt><strong><%= model_class.human_attribute_name(:totdays) %>:</strong></dt>
  <dd><%= @leaveroll.totdays %></dd>
  <dt><strong><%= model_class.human_attribute_name(:notes) %>:</strong></dt>
  <dd><%= @leaveroll.notes %></dd>
  <dt><strong><%= model_class.human_attribute_name(:approved) %>:</strong></dt>
  <dd><%= @leaveroll.approved %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              leaverolls_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_leaveroll_path(@leaveroll), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              leaveroll_path(@leaveroll),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
