<%- model_class = User -%>
<div class="page-header">
  <h3><%=t '.title', :default => model_class.model_name.human.titleize %></h3>
</div>
<div class="form-actions">
  <h4><%=t '.title', :default => model_class.model_name.human.titleize %></h4>
  <div class="but">
    <small style="float:right"><%= link_to t('.new', :default => t("helpers.links.new")),
            new_user_path,
            :class => 'btn btn-primary' %>
    </small>
</div>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>S#</th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:admin?) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each_with_index do  |user,i| %>
      <tr>
        <td><%= link_to (i+1), user_path(user),{class: "link"} %></td>
        <td><%= link_to user.name,user_path(user) %></td>
        <td><%= user.admin? %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_user_path(user), :class => 'btn btn-mini' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

