<%- model_class = Payroll -%>
<div class="page-header">
  <h3><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h3>
</div>

<div class="form-actions">
  <h4><%=t '.title', :default => model_class.model_name.human.titleize %></h4>
  <div class="but">
    <small style="float:right">
      <%= link_to t('.new', :default => t("helpers.links.new")),
              new_payroll_path,:class => 'btn btn-primary' %>
      <%= link_to "To Excel",payrolls_path(format: "xls"),:class => 'btn btn-mini' %>
    </small>
  </div>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:empno) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @payrolls.each do |payroll| %>
      <tr>
        <td><%= payroll.empno %></td>
        <td><%= link_to payroll.name, payroll_path(payroll) %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_payroll_path(payroll), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      payroll_path(payroll),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>


