<%- model_class = Payroll -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<table class="table table-striped">
<tr>
  <td><%= model_class.human_attribute_name(:empno) %>:</td>
  <td><%= @payroll.empno %></td>
</tr>
<tr>
  <td><%= model_class.human_attribute_name(:name) %>:</td>
  <td><%= @payroll.name %></td>
</tr>
<tr> 
  <%- model_class = Allowance -%>
  <% for allowance in @payroll.allowances %> 
    <td><%=  allowance.atype %> </td>
    <td><%= number_to_currency(allowance.amount,:unit => "€") %> </td>
  <% end %>
</tr>
<tr> 
  <%- model_class = Deduction -%>
  <% for deduction in @payroll.deductions %> 
    <td><%=  deduction.dtype %> </td>
    <td>-<%= number_to_currency(deduction.amount, :unit => "€") %> </td>
  <% end %>
</tr>
<tr> 
  <td><%= model_class.human_attribute_name(:totsal) %></td>
  <td><%= number_to_currency(@payroll.totsal, :unit => "€")%></td>
</tr>
</table>
<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              payrolls_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_payroll_path(@payroll), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              payroll_path(@payroll),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
