<ul id="sidenav01" class="accordion nav nav-department nav-tabs nav-stacked btn-primary btn-cust">
    <li>
        <%= link_to root_path do%>
          <span class="icon-home icon-white"></span>&nbsp Home
        <% end %>
    </li>
    <li>
        <a href="#li02" data-toggle='collapse' data-target='#subnav01', data-parent='#sidenav01' class="accordion-toggle collapsed"><i class="icon-chevron-up pull-right"></i><i class="icon-group"></i> Employee</a>
          <ul id="subnav01" class="nav nav-list collapse">
            <li><%= link_to root_path do%><i class="icon-home"></i> Employee Home</li><% end %>
            <li><%= link_to root_path do%><i class="icon-book"></i> Employee Education</li><% end %>
            <li><%= link_to root_path do%><i class="icon-file"></i> Employee Contracts</li><% end %>
            <li><%= link_to root_path do%><i class="icon-home"></i> Employee Payroll</li><% end %>
            <li><%= link_to root_path do%><i class="icon-home"></i> Employee Leave</li><% end %>
          </ul>
    </li>
    <li>
        <%= link_to root_path do%><i class="icon-road"></i> Vehicle 
    </li><% end %>
    <li>
        <%= link_to root_path do%><i class="icon-search"></i> Search 
    </li><% end %>
    <li>
        <a href="#li03" data-toggle='collapse' data-target='#subnav02', data-parent='#sidenav01' class="accordion-toggle collapsed"><i class="icon-chevron-up pull-right"></i><i class="icon-file"></i> Documents</a>
          <ul id="subnav02" class="nav nav-list collapse">
            <li><a href="#pimu">Iqama</a></li>
            <li><a href="#schol">Passport</a></li>
            <li><a href="#links">Visa</a></li>
            <li><a href="#advise">Insurance</a></li>
          </ul>
    </li>
    <li>
        <a href="directory.php"><i class="icon-group"></i> Staff Profiles</a> 
    </li>
     <li>
        <%= link_to root_path do%> <i class="icon-cog"></i> Payroll Settings 
    </li><% end %>
</ul>