<ul id="sidenav01" class="accordion nav nav-department nav-tabs nav-stacked btn-primary btn-cust">
    <li>
        <%= link_to root_path do%>
          <span class="icon-home icon-white"></span>&nbsp Home
        <% end %>
    </li>
    <li>
        <a href="#li02" data-toggle='collapse' data-target='#subnav01', data-parent='#sidenav01' class="accordion-toggle collapsed"><i class="icon-chevron-down pull-right"></i><i class="icon-group"></i> Employee</a>
          <ul id="subnav01" class="nav nav-list collapse">
            <li><%= link_to employees_path do%><i class="glyphicon glyphicon-home"></i> Employee Home</li><% end %>
            <li><%= link_to educations_path do%><i class="glyphicon glyphicon-book"></i> Employee Education</li><% end %>
            <li><%= link_to contracts_path do%><i class="glyphicon glyphicon-file"></i> Employee Contracts</li><% end %>
            <li><%= link_to payrolls_path do%><i class="glyphicon glyphicon-usd"></i> Employee Payroll</li><% end %>
            <li><%= link_to leaverolls_path do%><i class="glyphicon glyphicon-calendar"></i> Employee Leave</li><% end %>
            <li><%= link_to calendar_path do%><i class="glyphicon glyphicon-calendar"></i> Leave Calendar</li><% end %>
          </ul>
    </li>
    <li>
        <%= link_to vehicles_path do%><i class="glyphicon glyphicon-road"></i> Vehicle 
    </li><% end %>
    <li>
        <%= link_to new_search_path do%><i class="glyphicon glyphicon-search"></i> Search 
    </li><% end %>
    <li>
        <a href="#li03" data-toggle='collapse' data-target='#subnav02', data-parent='#sidenav01' class="accordion-toggle collapsed"><i class="icon-chevron-down pull-right"></i><i class="glyphicon glyphicon-file"></i> Documents</a>
          <ul id="subnav02" class="nav nav-list collapse">
            <li><%= link_to iqama_path do%><i class="glyphicon glyphicon-folder-open"></i> Iqama</a></li><% end %>
            <li><%= link_to passport_path do%><i class="glyphicon glyphicon-folder-open"></i> Passport</a></li><% end %>
            <li><%= link_to visa_path do%><i class="glyphicon glyphicon-folder-open"></i> Visa</a></li><% end %>
            <li><%= link_to insurance_path do%><i class="glyphicon glyphicon-folder-open"></i> Insurance</a></li><% end %>
            <li><%= link_to documents_path do%><i class="glyphicon glyphicon-upload"></i> Upload</li><% end %>
          </ul>
    </li>
    <% if current_user.admin?%>
    <li>
        <a href="#li04" data-toggle='collapse' data-target='#subnav03', data-parent='#sidenav01' class="accordion-toggle collapsed"><i class="icon-chevron-down pull-right"></i><i class="glyphicon glyphicon-cog"></i> Settings</a>
          <ul id="subnav03" class="nav nav-list collapse">
            <li><%= link_to leavetypes_path do%><i class="glyphicon glyphicon-wrench"></i> Leavetype</li><% end %>
            <li><%= link_to users_path do%><i class="glyphicon glyphicon-wrench"></i> User Settings</li><% end %>
            <li><%= link_to settings_path do%><i class="glyphicon glyphicon-wrench"></i> Payroll&Leave</li><% end %>
          </ul>
    </li>
    <% end %>
</ul>